@{
    ViewBag.Title = "Visiting";
}
<div class="standardPageHeaderImg visitingImg">
    <img src="~/Content/images/banner_images/Visiting-Banner.gif" />
</div>
<h2>Visiting</h2>
<section class="standardPageBody">
<p>At the New Testament Church of God (Leeds) the most important members of our congregation are our visitors, whether you are visiting through a desire to seek the truth, or you are simply worshipping with us whilst away from home, our church is designated as a sanctuary for all regardless of colour or creed. As such we have made every effort to ensure that your visit is a blessed one. If you have never experienced a modern pentecostal church before then please see our "What to expect" section below. Also be encouraged that if you have children then they are equally welcome.</p>
</section>
@Html.Partial("ServiceTimes")
@Html.Partial("WhatToExpect")
@Html.Partial("ProvForChildren")
@Html.Partial("WeeklyProg")
@Html.Partial("Contact")