<ul id="menu">
    <li><a href="@Url.Action("Index", "Home")" data-icon="home">Home</a></li>
    <li>About Us
        <ul>
            <li><a href="@Url.Action("Beliefs", "About")">Beliefs</a></li>
            <li><a href="@Url.Action("Vision", "About")">Vision</a></li>
            <li><a href="@Url.Action("MinistryTeam", "About")">Ministry Team</a></li>
            <li><a href="@Url.Action("History", "About")">History</a></li>
            <li><a href="@Url.Action("Testimonies", "About")">Testimonies</a></li>
            <li><a href="@Url.Action("DeclarationOfFaith", "About")">Declaration Of Faith</a></li>
        </ul>
    </li>
    <li>Visiting
        <ul>
        <li><a href="/Visiting/ServiceTimes" title="Service Times">Service Times</a></li>
        <li><a href="/Visiting/WhatToExpect" title="What To Expect">What To Expect</a></li>
        <li><a href="/Visiting/ProvForChildren" title="Provision For Children">Provision For Children</a></li>
        <li><a href="/Visiting/WeeklyProg" title="Weekly Programme">Weekly Programme</a></li>
        <li><a href="/Visiting/Contact" title="Contact">Contact</a></li>
    </ul>
    </li>
</ul>