@{
    ViewBag.Title = "About";
}
<div class="standardPageHeaderImg aboutUsImg">
    <img src="~/Content/images/banner_images/About-Us-Banner.gif" />
</div>
<h2>About Us</h2>
<section class="standardPageBody">
    <p>Welcome to the New Testament Church of God website. We are a bible-based, evangelical Christian church, who believe God has called us to serve others. Our various church ministries, all of which have this in mind, are outward facing, seeking to serve our communities, whether that is through our Prison Ministry, our Young Men’s Group, our evangelism activities or our social responsibility programmes. All of these have at their heart, service to others.</p>
    <p>In and through the Gospel of Jesus Christ, our Lord has called us to be salt and light in practical ways to those around us. That is our mission, lived out through the various ministries.</p>
    <p>Please enjoy browsing our website. Remain blessed in Jesus, the Christ.</p>
    <p>Pastor Tony Parry</p>
</section>
@Html.Partial("Beliefs")
@Html.Partial("Vision")
@*@Html.Partial("MinistryTeam")*@
@Html.Partial("History")
@Html.Partial("Testimonies")
@Html.Partial("DeclarationOfFaith")

